<md-toolbar class="md-accent prymary-color toll">
  <div class="md-toolbar-tools" layout="row" flex="100">
    <div layout="column" flex="5" flex-xs="85" flex-sm="85">
      <i class="material-icons inst"  ng-click="toggleLeft()">menu</i>
    </div>
    <div layout="column" flex="50" hide-sm hide-xs>
      <h1 ng-if="julioxdx2">
        Gestion de horarios academicos
      </h1>
    </div>
    <!--<div class="bar"></div>-->
    <div layout="column" flex="7" >
      <img  ng-src="./img/descarga.jpg" ng-click="modali()" class="md-card-image img-circle inst img">
    </div>
    <div ng-click="modali($event)" class="inst" layout="column" flex="15" hide-sm hide-xs>
      <h1 >Julian Lasso</h1>
    </div>
    <!--<div class="bar"></div>-->
    <div layout="column" flex="3" class="inst">
      <i ng-if="julio" ng-click="julioxd()" class="material-icons md-48">notifications</i>
      <i ng-if="!julio" ng-click="julioxd()" class="material-icons md-48">notifications_none</i>
    </div>
    <!--<div class="bar"></div>-->
    <md-input-container class="md-block"layout="column" flex="20" hide-sm hide-xs>
      <i class="material-icons" show-xs show-sm>search</i>
      <input type="search" class="inp" placeholder="search">
    </md-input-container>
    <i class="material-icons md-48" show-xs show-sm flex-xs="2" hide-xl hide-gt-lg hide-lg hide-gt-md hide-md>search</i>
  </div>
</md-toolbar>

<md-divider ></md-divider>

<section layout="row" class="prymary-color" flex="100" >
  <md-sidenav class="md-sidenav-left" md-component-id="left"
              md-disable-backdrop md-whiteframe="4">
    <md-toolbar >
      <h1 class="md-toolbar-tools prymary-color"> Gestion de horarios academicos</h1>
    </md-toolbar>
    <md-divider ></md-divider>
    <md-content layout-margin>
      <md-button ui-sref="dashboard" class="md-raised md-block ">
        Dashboard
      </md-button>
      <md-button  ui-sref="fichas" class="md-raised md-block">
        Fichas
      </md-button>
      <md-button  ui-sref="instructores" class="md-raised md-block">
        Instructores
      </md-button>
      <md-button  class="md-raised md-block" ui-sref="gestion">
        Gestion de usuarios
      </md-button>
      <md-button  class="md-raised md-block">
        Reportes
      </md-button>
    </md-content>
    <md-button class="md-fab md-mini btn" aria-label="Eat cake">
      <i class="material-icons md-24 btn-icon">power_settings_new</i>
    </md-button>
    <md-button class="md-fab md-mini btn-rigth" aria-label="Eat cake">
      <i class="material-icons md-24 btn-icon" ng-click="toggleLeft()">keyboard_return</i>
    </md-button>
  </md-sidenav>
</section>



<div layout="row" class="hl-9" layout-sm="column" layout-xs="column">
  <md-card md-theme-watch layout="column" flex="20" layout-sm="row" layout-xs="row" flex-sm="100" flex-xs="100" class="s">
    <md-card-img layout-xs="column" layout-sm="column"  flex-sm="100" flex-xs="100">
      <img  width="150px" height="150px" ng-src="./img/descarga.jpg" class="md-card-image img-p">
    </md-card-img>
    <md-card-title class="center name">
      Julian Lasso
    </md-card-title>
    <md-divider hide-sm hide-xs></md-divider>
    <md-card-title class="center name">
      jalasso69@misena.edu.co
    </md-card-title>
    <md-divider hide-sm hide-xs></md-divider>
    <md-card-content class="descripcion">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </md-card-content>
  </md-card>
  <md-card md-theme-watch layout="column" flex="40" layout-sm="row" layout-xs="row" flex-sm="100" flex-xs="100" class="s">
    <md-card-img class="mh-5">
      <img width="200px" height="200px" src="./img/line-graph.png" class="md-card-image ml-5"/ >
    </md-card-img>
    <md-divider hide-sm hide-xs></md-divider>
    <md-card-img class="mh-5">
      <img width="200px" height="200px" src="./img/barra1.png" class="md-card-image ml-5"/>
    </md-card-img>
  </md-card>
  <md-card md-theme-watch layout="column" flex="40" layout-sm="row" layout-xs="row" flex-sm="100" flex-xs="100" class="s">
    <md-cars-img class="mh-5" >
      <img width="250px" height="250px" src="./img/barra2.png" class="md-card-image ml-5"/>
    </md-cars-img>
    <md-divider hide-sm hide-xs></md-divider>
    <md-cars-img class="mh-5">
      <img width="200px" height="200px" src="./img/barras11.jpg" class="md-card-image ml-5"/>
    </md-cars-img>
  </md-card>
</div>
