<md-dialog-content class="edit">
    <div class="center">
        <h1>¿Seguro que desea eliminar la ficha?</h1>
    </div>
    <div layout-margin class="ml-5">
        <md-input-container class="md-block">
            <label>Justificacion</label>
            <textarea md-select-on-focus max-rows="6"></textarea>
        </md-input-container>
    </div>
    <div class="center">
            <md-button class="md-raised">Aceptar</md-button>
            <md-button ng-click="answer()" class="md-raised">Cancelar</md-button>
        </div>
</md-dialog-content>