<md-dialog-content class="edit">
    <div class="center">
        <h1>Editar Información</h1>
    </div>
    <div layout-margin class="ml-5">
        <md-input-container>
            <label>Numero de ficha: </label>
            <input>
        </md-input-container>
    </div>
    <div layout-margin class="ml-5">
        <md-input-container>
            <label>Nombre del programa: </label>
            <input>
        </md-input-container>
    </div>
    <div layout-margin class="ml-5">
        <md-button class="md-raised"  ng-click="modalcre($event)">Editar planeacion pedagogica</md-button>
    </div>
    <div class="center">
        <md-button class="md-raised">Aceptar</md-button>
        <md-button ng-click="answer()" class="md-raised">Cancelar</md-button>
    </div>
</md-dialog-content>