<md-toolbar class="prymary-color">
	<div class="md-toolbar-tools prymary-color" flex-wrap>
		<h2 flex md-truncate>Gestion de horarios academicos</h2>
		<md-button class="md-raised md-prymary" ng-click="login($event)">Iniciar sesion</md-button>
                
	</div>
</md-toolbar>
<md-divider></md-divider>

<md-content layout="row" flex="100" style="height: 90vh">
	<md-card layout="column" flex="50">
		<md-card-img>
			<img src="./img/logoSena.png" class="logo">
		</md-card-img>
	</md-card>
	<md-card layout="column" flex="50">
		<md-card-title style="max-height: 20vh">
			<h1>Mision</h1>
		</md-card-title>
		<md-card-content>
			<p>
El SENA está encargado de cumplir la función que le corresponde al Estado de invertir en el desarrollo social y técnico de
los trabajadores colombianos, ofreciendo y ejecutando la formación profesional integral, para la incorporación y el desarrollo
de las personas en actividades productivas que contribuyan al desarrollo social, económico y tecnológico del país.​ ​
			</p>
		</md-card-content>
	</md-card>
</md-content>