<md-dialog-content layout-margin>
    <h2 class="md-title">Ingreso</h2>
    <form ng-submit="logeo()">
        <md-input-container class="md-block">
            <md-select ng-model="data.type" placeholder="Documento de identidad">
                <md-option value="CC">Cédula</md-option>
                <md-option value="TI">Tarjeta Identidad</md-option>
                <md-option value="CE">Cedula Extranjería</md-option>
                <md-option value="PS">Pasaporte</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <input type="number" ng-model="data.number" placeholder="Documento" required>
        </md-input-container>
        <md-input-container class="md-block">
            <input type="password" ng-model="data.pass" placeholder="Password" required>
        </md-input-container>
        <a ng-click="recuperar()" href>Olvidé la contraseña</a>
        <div>
            <md-button class="color-prymary" type="submit">Entrar</md-button>
            <md-button class="color-prymary" ng-click="invitado()" type="button">Invitado</md-button>
        </div>
    </form>
</md-dialog-content>
