<md-dialog-content layout-margin>
    <h2 class="md-title">Recuperar</h2>
    <form ng-submit="recove()">
        <md-input-container class="md-block">
            <md-select ng-model="recove.type" placeholder="Documento de identidad">
                <md-option value="CC">Cedula</md-option>
                <md-option value="TI">Tarjeta Identidad</md-option>
                <md-option value="CE">Cedula Extranjeria</md-option>
                <md-option value="PS">Pasaporte</md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block">
            <input type="number" ng-model="recove.number" placeholder="Documento" required>
        </md-input-container>
        <div>
            <md-button class="color-prymary" type="submit">Restablecer contraseña</md-button>
        </div>
    </form>
</md-dialog-content>