<md-toolbar class="md-accent prymary-color toll">
  <div class="md-toolbar-tools" layout="row" flex="100">
    <div layout="column" flex="5" flex-xs="85" flex-sm="85">
      <i class="material-icons inst" ng-click="toggleLeft()">menu</i>
    </div>
    <div layout="column" flex="50" hide-sm hide-xs>
      <h1 ng-if="julioxdx2">
        Gestion de horarios academicos
      </h1>
    </div>
    <!--<div class="bar"></div>-->
    <div layout="column" flex="7">
      <img ng-src="./img/descarga.jpg" ng-click="modali($event)" class="md-card-image img-circle inst img">
    </div>
    <div ng-click="modali($event)" class="inst" layout="column" flex="15" hide-sm hide-xs>
      <h1>Julian Lasso</h1>
    </div>
    <!--<div class="bar"></div>-->
    <div layout="column" flex="3" class="inst">
      <i ng-if="julio" ng-click="julioxd()" class="material-icons md-48">notifications</i>
      <i ng-if="!julio" ng-click="julioxd()" class="material-icons md-48">notifications_none</i>
    </div>
    <!--<div class="bar"></div>-->
    <md-input-container class="md-block" layout="column" flex="20" hide-sm hide-xs>
      <i class="material-icons" show-xs show-sm>search</i>
      <input type="search" class="inp" placeholder="search">
    </md-input-container>
    <i class="material-icons md-48" show-xs show-sm flex-xs="2" hide-xl hide-gt-lg hide-lg hide-gt-md hide-md>search</i>
  </div>
</md-toolbar>

<md-divider></md-divider>

<section layout="row" class="prymary-color" flex="100">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
    <md-toolbar>
      <h1 class="md-toolbar-tools prymary-color"> Gestion de horarios academicos</h1>
    </md-toolbar>
    <md-divider></md-divider>
    <md-content layout-margin>
      <md-button ui-sref="screen1" class="md-raised md-block ">
        Dashboard
      </md-button>
      <md-button ui-sref="screen2" class="md-raised md-block">
        Fichas
      </md-button>
      <md-button ui-sref="screen3" class="md-raised md-block">
        Instructores
      </md-button>
      <md-button ui-sref="screen4" class="md-raised md-block">
        Gestion de usuarios
      </md-button>
      <md-button ng-click="toggleLeft('reportes')" class="md-raised md-block">
        Reportes
      </md-button>
    </md-content>
    <md-button class="md-fab md-mini btn" aria-label="Eat cake">
      <i class="material-icons md-24 btn-icon">power_settings_new</i>
    </md-button>
    <md-button class="md-fab md-mini btn-rigth" aria-label="Eat cake">
      <i class="material-icons md-24 btn-icon" ng-click="toggleLeft()">keyboard_return</i>
    </md-button>
  </md-sidenav>
</section>

<div class="hl-9">
<div layout-margin layout-xs="column" layout-sm="column">
  <md-input-container class="mw20" layout-xs="row" layout-sm="row" flex-xs="100" flex-sm="100"></md-input-container>
    <md-select ng-model="weapon" placeholder="seleccione fichas" class="md-no-underline w-40" id="fic">
      <md-option value="todas las fichas">Todas las fichas</md-option>
      <md-option value="mis fichas">Mis fichas</md-option>
    </md-select>
  </md-input-container>
  <md-button class="md-raised" ng-click="modalcre($event)" hide-xs hide-sm>Crear</md-button>
  <md-button class="md-raised" ng-click="modaledit($event)" hide-xs hide-sm>Editar</md-button>
  <md-button class="md-raised" ng-click="modaldelete($event)" hide-xs hide-sm>Eliminar</md-button>
  <md-button class="md-raised" ng-click="modalcre($event)" ng-disabled="true" hide-xl hide-lg hide-md>Crear</md-button>
  <md-button class="md-raised" ng-click="modaledit($event)" ng-disabled="true" hide-xl hide-lg hide-md>Editar</md-button>
  <md-button class="md-raised" ng-click="modaldelete($event)" ng-disabled="true" hide-xl hide-lg hide-md>Eliminar</md-button>
  <md-button class="md-raised">Crear horario</md-button>
</div>

<div layout="row" layout-xs="column" layout-sm="column">
  <md-card flex="60" style="height: 80vh; overflow-y: scroll" layout-xs="row" layout-sm="row" flex-xs="100" flex-sm="100">
    <div layout="row" layout-xs="row" layout-sm="row" flex-xs="100" flex-sm="100">
      <div flex="20" flex-xs="30" flex-sm="30">
        <md-toolbar flex="100" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>Ficha</span>
          </div>
        </md-toolbar>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
        <md-list-item>
          1364760
        </md-list-item>
      </div>
      <md-divider></md-divider>
      <div flex="80">
        <md-toolbar flex="100" class="md-hue-3">
          <div class="md-toolbar-tools">
            <span>Nombre del programa</span>
          </div>
        </md-toolbar>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
        <md-list-item>Analisis y desarrollo de sistemas de informacion</md-list-item>
      </div>
    </div>
  </md-card>
  <md-card flex="100"layout="column" style="height: 80vh">
    <md-toolbar  layout="row" class="md-hue-3">
      <div class="md-toolbar-tools">
        <span style="position: absolute; right: 50%">Equipo Tecnico</span>
      </div>
    </md-toolbar>
    <md-button class="md-raised md-button w bottom-right" hide-sm hide-xs>Ver mas</md-button>
  </md-card>
</div>
<md-button class="md-raised" flex-xs="100" flex-sm="100" hide-md hide-lg hide-xl>Ver mas</md-button>
</div>