<md-toolbar class="md-accent prymary-color toll">
    <div class="md-toolbar-tools" layout="row" flex="100">
        <div layout="column" flex="5" flex-xs="85" flex-sm="85">
            <i class="material-icons inst" ng-click="toggleLeft()">menu</i>
        </div>
        <div layout="column" flex="50" hide-sm hide-xs>
            <h1 ng-if="julioxdx2">
                Gestion de horarios academicos
            </h1>
        </div>
        <!--<div class="bar"></div>-->
        <div layout="column" flex="7">
            <img ng-src="./img/descarga.jpg" ng-click="showAdvanced($event)" class="md-card-image img-circle inst img">
        </div>
        <div ng-click="showAdvanced($event)" class="inst" layout="column" flex="15" hide-sm hide-xs>
            <h1>Julian Lasso</h1>
        </div>
        <!--<div class="bar"></div>-->
        <div layout="column" flex="3" class="inst">
            <i ng-if="julio" ng-click="julioxd()" class="material-icons md-48">notifications</i>
            <i ng-if="!julio" ng-click="julioxd()" class="material-icons md-48">notifications_none</i>
        </div>
        <!--<div class="bar"></div>-->
        <md-input-container class="md-block" layout="column" flex="20" hide-sm hide-xs>
            <i class="material-icons" show-xs show-sm>search</i>
            <input type="search" class="inp" placeholder="search">
        </md-input-container>
        <i class="material-icons md-48" show-xs show-sm flex-xs="2" hide-xl hide-gt-lg hide-lg hide-gt-md hide-md>search</i>
    </div>
</md-toolbar>

<md-divider></md-divider>

<section layout="row" class="prymary-color" flex="100">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <md-toolbar>
            <h1 class="md-toolbar-tools prymary-color"> Gestion de horarios academicos</h1>
        </md-toolbar>
        <md-divider></md-divider>
        <md-content layout-margin>
            <md-button ui-sref="screen1" class="md-raised md-block ">
                Dashboard
            </md-button>
            <md-button ui-sref="screen2" class="md-raised md-block">
                Fichas
            </md-button>
            <md-button ui-sref="screen3" class="md-raised md-block">
                Instructores
            </md-button>
            <md-button ui-sref="screen4" class="md-raised md-block">
                Gestion de usuarios
            </md-button>
            <md-button ng-click="toggleLeft('reportes')" class="md-raised md-block">
                Reportes
            </md-button>
        </md-content>
        <md-button class="md-fab md-mini btn" aria-label="Eat cake">
            <i class="material-icons md-24 btn-icon">power_settings_new</i>
        </md-button>
        <md-button class="md-fab md-mini btn-rigth" aria-label="Eat cake">
            <i class="material-icons md-24 btn-icon" ng-click="toggleLeft()">keyboard_return</i>
        </md-button>
    </md-sidenav>
</section>


<div layout="row" layout-xs="column" layout-sm="column" class="hl-9">
    <div layout="column" flex-xs="100" flex-sm="100" flex="40">
        <md-input-container layout-margin flex="10" class="md-block">
            <md-select ng-model="weapon" placeholder="Instructores vinculados" class="md-no-underline" id="fic">
                <md-option value="instructores vincualdos">Instructores vinculados</md-option>
                <md-option value="mis fichas">Mis fichas</md-option>
            </md-select>
        </md-input-container>
        <md-card class="hl-8 oy-show" layout="column" flex="80">
            <div layout="row" class="hl-i">
                <div layout="column" flex="40">
                    <md-list-item>12345678</md-list-item>
                    <md-list-item>14685345</md-list-item>
                    <md-list-item>23235679</md-list-item>
                    <md-list-item>35797555</md-list-item>
                </div>
                <div layout="column" flex="60">
                    <md-list-item>Julian Andres Lasso</md-list-item>
                    <md-list-item>Julio Cesar Velosa</md-list-item>
                    <md-list-item>Erick Augusto Puerta</md-list-item>
                    <md-list-item>Santiago Arias</md-list-item>
                </div>
            </div>
        </md-card>
        <md-input-container layout-margin flex="10" class="md-block">
            <i class="material-icons" show-xs show-sm>search</i>
            <input type="search" class="inp" placeholder="search">
        </md-input-container>
    </div>
    <md-card layout="column" flex="60" class="oy-hidden" flex-xs="100" flex-sm="100">
        <div class="m-5">
            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
        </div>
    </md-card>
</div>