.mw20{
  width: 20%;
}
.w-40{
  width: 40%
}
.h90{
  height: 90vh;
  overflow: hidden;
}
.hl-70{
  height: 70%;
}
.bottom-right{
  position: absolute;
  bottom: 0;
  right: 0;
}
md-divider{
  border-top-width: 2px !important;
}
.logo{
  margin-left: 8%;
  margin-top: 2%;
  height: 80vh;
  width: 90%;
}md-divider{
    border-top-width: 2px !important;
}
.logo{
    margin-left: 8%;
    margin-top: 2%;
    height: 80vh;
    width: 90%;
}
md-divider{
  border-top-width: 2px !important;
}
.logo{
  margin-left: 8%;
  margin-top: 2%;
  height: 80vh;
  width: 90%;
}
.w{
  width: 10%;
}
.cj{
 align-items: center
}
.w70{
  width: 80vw;
}
.oy-hidden{
  overflow-y: hidden;
}
.oy-show{
  overflow-y: scroll;
  max-height: 60%;
}
md-dialog{
overflow-x: hidden;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}
.edit{
  height: 40vh;
  width: 40vw;
}
.panel1, .panel2, .panel3,.panel4 {
  padding: 0 18px;
  height: 0;
  background-color: white;
  overflow: hidden;
}
md-divider{
  border-top-width: 2px;
}
body{
  background-color: #fafafa;
}
md-list-item{
  max-height: 10%;
}
.prymary-color{
  background-color: #fafafa  !important;
  color: black !important;
}
.bar{
  height: 100%;
  width: 3px;
  background-color: black;
}
.inst:hover{
  cursor: pointer;
}
md-sidenav{
  width: 230px !important;
}
.material-icons.md-18{font-size: 18px;}
.material-icons.md-24{font-size: 24px;}
.material-icons.md-36{font-size: 36px;}
.material-icons.md-48{font-size: 48px;}
.search{
  width: 60% !important;
}

body{
  overflow-y: hidden;
  max-height: 100vh;
}
.img-circle{
border-radius: 50%
}
.inp{
  max-width: 80% !important;
}
.btn{
  position: absolute;
  bottom: 0;
}
.ml3{
  margin-left: 35%
}
.btn-rigth{
  position: absolute;
  bottom: 0;
  right: 0
}
.btn-icon{
margin-top: 8px;
}
.img-p{
  margin-left: 15%;
  margin-top: 15%
}
.center{
  justify-content: center;
  text-align: center;
}
.ml-5{
  margin-left: 15%;
}
.hl-9{
  height: 85vh;
  /* margin-top: 5vh; */
}
.hl-8{
  height: 80%;
  /* margin-top: 5vh; */
}
.name{
  max-height: 2%;
}
.descripcion{
  max-height: 96%;
}
.mh-5{
  height: 50%;
}
.md-block{
  width: 90%
}
.img{
   width: 80px;
    height: 48px;
}
.inputdescription{
  margin: 0 !important;
}
md-dialog .md-dialog-content{
height: 70vh;
width: 70vw;
}
.scro{
  overflow-y: hidden;
}
.scrsh{
  overflow-y: scroll;
}
.icn{
  right: 0;
  position: absolute;
  top: 25%;
}
.ml-m{
 text-align: center
}
.m-5{
height: 80%;
width: 80%;
margin-top: 5%;
margin-left: 10%
}
@media screen and (max-width: 959px) {
  .scro{
    overflow-y: scroll;
  }
  .img-p{
    display: flex;
    align-content: center;
  }
.hl-i{
  height: 55vh;
  overflow-y: hidden;

}
.hl-9{
 height: auto;
 margin-top: 5vh;
}
.toll{
  position: fixed;
}
.name{
  max-height: 2%;
  max-width: 100%;
}
.descripcion{
  max-height: 96%;
  max-width: 100%;
}
.s{
  max-height: 100vh;
  flex-wrap: wrap;

}
body{
  overflow-y: scroll;
  max-height: 100vh;
}
.material-icons.md-18{font-size: 12px;}
.material-icons.md-24{font-size: 15px;}
.material-icons.md-36{font-size: 21px;}
.material-icons.md-48{font-size: 27px;}
}
.loader {
  color: #292727;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.mdiolog{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.mdiolog::before{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  z-index: 50;
}
.viewInvitado {
  height: 30vh;
}
.btnInvitado {
  left: 25%;
}